<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>ADD BLOG</title>
  </head>
  <body>
    <%- include('./partials/script') %>
    <%- include('./partials/nav') %>
    <div class="m-5 ">
      <label for="formGroupExampleInput" class="form-label">ADD TITLE</label>
      <input type="text" class="form-control mx-2" id="formGroupExampleInput" placeholder="Enter the title of blog">
    </div>
  </body>
</html>
